.form-control {
  color: #333;
}
.form-control::-webkit-input-placeholder { color: #888; }
.form-control:-moz-placeholder { color: #888; }
.form-control::-moz-placeholder { color: #888; }
.form-control:-ms-input-placeholder { color: #888; }