extends layouts/thankspage
block content

  section.thanks
    img(src="images/flx-wraps-logo.png", alt="FLX Wraps")
    h1 Thanks!
    p We'll send you a quote within 24 hours.
    a(href="http://flxwraps.com/") &laquo; Return to FLXWraps.com