#top.contact-bar.
  Call today: (315) 282-7581

.header
  .container
    .flx-logo-wrap.pull-left
      img.flx-logo(src="images/flx-wraps-logo.png" alt="FLX Wraps")
    .flx-nav-wrap
      ul.nav.nav-pills
        <li><a href="#about">About</a>
        <li><a href="#gauges">Stats</a>
        <li><a href="#process">How it Works</a>
        <li><a href="#examples">Examples</a>
        <li><a href="#contact">Contact</a>
